@*Verificar si el usuario está autenticado*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "frmLogout", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink($"Hola, {User.Identity.Name}", "Index", "Home")
            </li>
            <li>
                <a href="javascript:document.getElementById('frmLogout').submit()">Log Out</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Iniciar Sesión", "Login", "Account")
        </li>
    </ul>
}