
<div>
    Esta es una vista del tipo <pre>CSHTML</pre>

    @for (int i = 0; i < ViewBag.Repeticiones; i++)
    {
        <p>
            Esta data viene desde el controlador: @ViewBag.DataDinamica
        </p>
    }

    Fecha actual: @DateTime.Now

    @{
        var variableVista = 123;
    }

    <p id="varVista">
        El valor de la variableVista + 1 es @(variableVista + 1)
    </p>

    @Html.Raw(@"
        <div>hola Raw</div>
    ")

</div>

@section scripts{
    <div>
        hola desde la seccion scripts
    </div>
    <script>
        $(function () {
            $("#varVista").append("Jquery!")
        })
    </script>
}